<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/binary.jpg">
    <link rel="stylesheet" href="fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.min.css">
    <title>BINARY | COUNTRY</title>
</head>
<body>
    
    <div class="container">
        <div class="option text-dark"  th:each="country:${countries}" th:text="${country.capital}"></div>
    </div>

</body>