<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fontawesome-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.min.css">
    <title>BINARY | FLIGHT</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h2 class="text-white">BINARY</h2></a>

            <div class="d-grid gap-2 d-md-flex float-end">
                <div class="dropdown">
                    <a class="btn dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Henry
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="flight-container">

        <div class="card width-65 m-auto">

            <div class="card-header bg-primary text-white align-items-center">
                <h4 class="font-size-18 lh-1 mt-1" style="display: inline-block;">Reservations</h4>

                <div class="float-lg-end">
                    <a th:href="@{/home}"><button class="btn btn-outline-light" type="submit">New reservation</button></a>
                </div>
            </div>

            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Airline</th>
                        <th>Depature</th>
                        <th>Duration</th>
                        <th>Arrival</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

            <div class="card-body flex text-center align-items-center mt-3 border border-1" style="cursor: pointer;">

            <div class="width-20 align-content-center airline">
                <span class="font-size-16">Royal air</span> <br>
                <span class="font-size-14">AT 509</span>
            </div>

            <div class="width-20 align-content-center depature">
                <span font-size-16>06:10</span> <br>
                <span class="font-size-14">DLA</span>
            </div>

            <div class="width-20 align-content-center duration">
                <span class="font-size-16">13h 45m</span> <br>
                <span class="font-size-14">icon</span>
            </div>

            <div class="width-20 align-content-center arrival">
                <span font-size-16>14:55</span> <br>
                <span class="font-size-14">JFK</span>
            </div>

            <div class="width-20 align-content-center price font-size-16">
                1,500,000frs
            </div>

            <div class="width-20 align-content-center price font-size-16">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>
            </div>

            </div>

            <div class="card-body flex text-center align-items-center mt-3 border border-1">

                <div class="width-20 align-content-center airline">
                    <span class="font-size-16">Air France</span> <br>
                    <span class="font-size-14">AF 887</span>
                </div>

                <div class="width-20 align-content-center depature">
                    <span font-size-16>06:10</span> <br>
                    <span class="font-size-14">DLA</span>
                </div>

                <div class="width-20 align-content-center duration">
                    <span class="font-size-16">13h 45m</span> <br>
                    <span class="font-size-14">icon</span>
                </div>

                <div class="width-20 align-content-center arrival">
                    <span font-size-16>14:55</span> <br>
                    <span class="font-size-14">JFK</span>
                </div>

                <div class="width-20 align-content-center price font-size-16">
                    2,500,000frs
                </div>

                <div class="width-20 align-content-center price font-size-16">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                </div>

            </div>

        </div><!-- card -->

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
            </div>
        </div>
    </div>

    <script src="bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
